#center{
    text-align: center;
    padding-top: 50px;
}
.team {
    margin:100px;
    margin-right: 150px;
    padding:100px;
    background-color: #b1bebd;
}
#team1 {
    float: left;
}
#team2 {
    float: right;
}
.diagonal-background {
  width: 100%;
  height: 1000px;
  background: linear-gradient(
    to right bottom,
    #0000ff 50%, 
    #ff0000 50%  
  );
}

.background {
  width: 100px;
  height: 100px;
  position: absolute;
}