#center{
    text-align: center;
    padding-top: 50px;
    background-color: #9b9a9d;
    margin: 20px;
}

.team {
    margin:100px;
    margin-right: 150px;
    padding:100px;
    background-color: #9b9a9d;
}
#team1 {
    float: left;
}
#team2 {
    float: right;
}

.diagonal-background {
  width: 100%;
  min-height: 100vh;
  background-image: 
    url("NFL_Logo.png"),
    linear-gradient(to right bottom, #0000abca 50%, #ab0000ca 50%);
  background-size: 100px 100px, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
}

#explanation {
    margin:50px;
    padding:20px;
    background-color: #9b9a9d;
}

input[type=text] {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

